.item
  :textile
    h1. I offer you,

    a open mind with lots of experience. I'm free for talks, seminars, consulting and open for new opportunities. Feel free to contact me:

    Daniel Schweigh&ouml;fer
    Burgemeisterstr. 17
    12103 Berlin

    +49-176-62654026
    daniel@netsteward.net
