.item
  :textile
    h1. Curiculum Vitae

    |since&nbsp;March&nbsp;2012|Senior IT Administrator at Piratenfraktion im Abgeordnetenhaus von Berlin|
    |02 2012|IT Administrator at SysEleven GmbH|
    |09 2011-01 2012|Web developer at castaclip GmbH (Ruby, Sproutcore, High Performance Infrastructure)|
    |02 2011-08 2011|Web developer at myGall GmbH (Ruby & Rails, Node.js)|
    |since October 2007|Freelancer, working as server administrator and web developer (PHP / Ruby on Rails)|
    |01 2007-07 2007|student assistant at OGVIT GmbH & Co. KG (Nagios plugin & programming in C and for the Shell)|
    |09 2006-12 2006|student assistant at SBS (problem analysis & solution for workstations)|
    |10 2006-08 2007|enlisted in Bachelor/Mastercourse computer science|
    |2003-2006|enlisted in Bachelor/Mastercourse business informatics|
    |2002-2006|student assistant at LUF of the University at Paderborn (system- & networkadministration, user support)|
    |2001-2002|student assistant at Trans-IT (system- & networkadministration)|
    |2000-2003|enlisted in diploma course computer science at the University of Paderborn|
    |1999-2000|civilian service at the Bahnhofsmission, Bebra|
    |1996-1999|Fachoberschule Bebra, Fachhochschulreife – branch of business informatics|
    |1990-1996|Adam-von-Trott-School Sontra, Realschulabschluß|
    |1986-1990|basic school Sontra-Ulfen|
