.item
  :textile
    h1. Welcome stranger,

    this is the web business card of Daniel Schweigh&ouml;fer, an application artisan and netsteward. I'm living in Paderborn, Germany and working as freelancer for Ruby on Rails projects and server administration.
    I'm also a active netizen, spare-time philosopher and hobby dj. Feel free to explore my personal sphere, you could start with my blog.

.item
  :textile
    h1. I'm working with

    a lot of different technologies and frameworks. I'm familiar with:

    * Unix, Database, Mail and Network Administration
    * Ruby on Rails
    * jQuery
    * php
    * Nagios
    * Webapplication, Network and Systems Security

    There also also some things that I didn't know this deep:

    * Java, C++, Objective C, Perl
    * Flex
    * Red5
    * sophisticated CSS and HTML

.item
  :textile
    h1. I offer you,

    a open mind with lots of experience. I'm free for talks, seminars, consulting and, of course, plain contracted coding. Feel free to contact me:

    Daniel Schweigh&ouml;fer
    M&uuml;hlenstr. 20
    33098 Paderborn

    +49-151-21158328
    +49-5251-50889920
    daniel@netsteward.net
    acid@jabber.ccc.de

    UStID: DE265962739
