.item
  :textile
    h1. Welcome stranger,

    this is the web business card of Daniel Schweigh&ouml;fer, an application artisan and netsteward. I'm living in Berlin, Germany and working as intern or freelancer for web development projects and server administration.
    I'm also a active netizen, spare-time philosopher and poet. Feel free to explore my personal sphere, you could start with the links on this side.

    For business interests please check my CV and skills on the links above.

.item
  :textile
    h1. Blogs

    * "devel0p":http://devel0p.net a english blog about social questions
    * "acidblog":http://acidblog.de my german blog. In the last time only used for poetry.
    * "my posterous":http://acid.posterous.com a devastated tech-blog

.item
  :textile
    h1. Social Networks
    * "github":http://github.com/acid
    * "linked.in":http://de.linkedin.com/in/netsteward
    * "xing":https://www.xing.com/profile/Daniel_Schweighoefer

.item
  :textile
    h1. Tumbleblogs/microblogging
    * "soup":http://acid.soup.io
    * "tumblr":http://acid23.tumblr.com/
    * "identi.ca":http://identi.ca/acid/all
    * "twitter":http://twitter.com/acid23


