.item
  :textile
    h1. Hi,

    this is the web business card of Daniel Schweigh&ouml;fer, an application artisan and netsteward. I'm living in Berlin, Germany and working as intern for IT administration and web-based application development. In the past I've worked many years as freelancer, too.
    I'm also a active netizen, political activist, spare-time philosopher and poet. Feel free to explore my personal sphere, you could start with the links on this side.

    For business interests please check my CV and skills on the links above.

.item
  :textile
    h1. Blogs and Podcasts

    * "acidblog":http://acidblog.de my political and personal blog.
    * "genderpopender":http://genderpopender.de gender-related blog.
    * "anarchobronies":http://anarchobroni.es political podcast

.item
  :textile
    h1. Social Networks
    * "github":http://github.com/acid
    * "linked.in":http://de.linkedin.com/in/netsteward
    * "xing":https://www.xing.com/profile/Daniel_Schweighoefer
    * "twitter":http://twitter.com/acid23
    * "facebook":http://facebook.com/netsteward

