.item
  :textile

    h1. On a glance:

    In the last years I've worked with small teams on web projects and infrastructure. As I came from the administration side, it was naturally for me to do the backend work, although I'm familiar with frontend technologies, too. I would say I'm a intermediate programmer and an advanced administrator. I'm eager to learn new technologies and thoughts and I'm proud of my fast learning skills.

    I'm also an open and supportive person. Though my political work I'm expirienced with group processes and my background knowledge help me to support diversity and cooperation.

    Currently I am employed as Senior IT Administrator at the parliamentary group of the pirate party in the parliament of Berlin.

    h1. I'm experienced with: (advanced level)

    * Software Design Principles
    ** Test-Driven-Development,
    ** Behaviour driven develpment

    * Web Technologies
    ** at least 3 years+ experience:
    *** Web application development in Ruby-on-Rails
    *** Web application development in PHP (5 years+ experience on the classical LAMP stack)
    *** jQuery
    ** at least 1 years+ experience:
    *** Eventmachine
    *** Node.js
    *** Sproutcore

    * Web Service API design based on JSON(P) or XML
    * Web Application perfomance bottlenecks and techniques to engage them

    * OpenVZ
    * LDAP administration including replication and ACLs
    * VLAN administration

    * Operating Systems (all of it at least 5 years+ experience)
    ** Unix/Linux (10 years+ experience)
    ** Database, Mail and Network Administration (10 years+ experience)
    ** monitoring solutions (e.g Nagios, monit)
    ** Webserver administration and configuration (e.g. nginx, apache, lighttpd)

    * Relational Databases (all 5years+ experience)
    ** MySQL
    ** PostgreSQL
    ** Sqlite


    h1. I'm familiar with: (intermediate to advanced)

    * Chef, Salt and Puppet
    * NoSql Databases (CouchDB/MongoDB)
    * Webapplication, Network and Systems Security
    * sophisticated HTML & CSS


    h1. And I'm common with:

    * Structured & Object-oriented Programming Languages
    ** C/C++
    ** Java
    ** Objective C

    * Functional Programming Languages
    ** Haskell

    * Scripting Languages
    ** Flex
    ** Perl
    ** Python
    ** Ruby
    ** PHP


