.item
  :textile

    h1. On a glance:

    In the last years I've worked with both big and small teams on web application projects and infrastructure. As I came from the administration side, it was naturally for me to do the backend work, although I'm familiar with frontend technologies, too. I would say I'm a advanced programmer and an intermediate administrator.

    In coding, I'm aiming for stable, clear and forward looking results. I've seen a lot of things working and failing over the years and adapt this knowledge in my daily business. Programming is a craft and I think it's more important how the work is done than the language which is used to implement it. I'm eager to learn new technologies and thoughts and I'm proud of my fast learning skills.

    I'm familiar with the transformation of monolithic apps into service oriented architectures, therefore with the task of refactoring old code and structures on the course for a stable and performant service. Most of my work in recent years was done with Ruby, but I'm also used to many different languages. As I know this language and its toolchains quite well I'm willing to get more hands-on-experience in other languages. As DevOp I'd worked with a broad range of technologies and am familiar with all important concepts from operating sytem architecture to network stack.

    Currently I am employed as Backend Developer at Dawanda GmbH. I'm also an open and supportive person. Though my political work I'm expirienced with group processes and my background knowledge help me to support diversity and cooperation.

    Here's a list of buzzwords for the impatient readers:

    h1. I'm experienced with: (advanced level)

    * Software Design Principles
    ** Test Driven Development,
    ** Behaviour Driven Develpment
    ** Service-Oriented Architecture

    * Web Technologies
    ** Web Service API design based on JSON(P) or XML
    ** Web Application perfomance bottlenecks and techniques to engage them
    ** Web application development in
    *** Ruby on Rails (6 years+ experience, I've seen to much to go in detail here)
    *** Sinatra
    *** JavaScript (e.g. jQuery, Node.js, CoffeScript)
    *** PHP (7 years+ experience on the classical LAMP stack)
    *** Sproutcore
    ** Inter-service communication techniques
    *** Resque
    *** http-APIs
    *** shared databases

    * Relational Databases (all 5years+ experience)
    ** MySQL
    ** PostgreSQL
    ** Sqlite

    * Key-Value Storage Services
    ** Redis
    ** CouchDB
    ** MongoDB

    * Search-Engines
    ** Solr
    ** Elasticsearch

    * Caching Services
    ** Varnish
    ** HA-Proxy
    ** Pound

    * Virtualization Technologies
    ** OpenVZ
    ** Docker/LXC
    ** FreeBSD Jail

    * LDAP administration including replication and ACLs
    * VLAN administration

    * Operating Systems (all of it at least 8 years+ experience)
    ** Unix/Linux (10 years+ experience)
    ** Puppet
    ** Database, Mail and Network Administration (10 years+ experience)
    ** monitoring solutions (e.g Nagios, monit)
    ** Webserver administration and configuration (e.g. nginx, apache, lighttpd)

    h1. I'm familiar with: (intermediate to advanced)

    * Chef and Salt
    * Webapplication, Network and Systems Security
    * sophisticated HTML & CSS


    h1. And I'm common with:

    * Structured & Object-oriented Programming Languages
    ** C/C++
    ** Scala
    ** Java
    ** Objective C

    * Functional Programming Languages
    ** Haskell

    * Scripting Languages
    ** Flex
    ** Perl
    ** Python
    ** Lua


